body{
  background: rgba(0, 204, 255, 0.534);
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
.center{
  left: 50%;
  margin: 0;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#theirGuess{
  visibility: hidden;
}
h3{
  text-align: center;
}
button{
  border-radius: 12px;
  background-color: rgba(0, 140, 255, 0.877);
  color: white;
}
