.backgroundImage{
  position: relative;
  padding: 16px;
   overflow: hidden;
}

.backgroundImage #myPic{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.5;

}
.backgroundImage p, h1{
  padding: 10px;
  position: relative;
  z-index: 2;
  text-align: center;
}

.backgroundImage button{
  position: absolute;
  left: 45%;
  background-color: rgb(34, 83, 114);
  color: white;
  border-radius: 30px;
  font-size: 20px;
   padding: 15px 32px;
}
.backgroundImage input{
  position: absolute;
  left: 45%;
}
